td {
  border: 2px solid black;
}
.fruits {
  font-size: large;
}
.classone {
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
